:root {
    --main-color: #00246B;
}

main {
    margin-top: 5.5rem;
}

.img {
    height: 300px;
    width: 100%;
}

.f {
    padding: 30px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 20px;
}

.product-card .btnn {
    background-color: var(--main-color);
}