:root {
    --main-color: #00246B;
}

main {
    margin-top: 5.5rem;
}

.img {
    height: 300px;
    width: 100%;
}

.product-card .btnn {
    background-color: var(--main-color);
}

h3 {
    color: white;
}

.form-LS {
    color: white;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 60%;
}